[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "netregR"]
	path = netregR
	url = https://github.com/cran/netregR
	shallow = true
	registered = true
